@charset "utf-8";

.source-forms .tab-content{
    border: 1px solid #dee2e6;
    border-top: 0;
    padding: 1rem;
}

.source-forms .overlap-fields {
    display: flex;
    flex-wrap: wrap;
}

.source-forms .overlap-fields label {
    margin-right: 1rem;
    
}

.source-forms .field-wrap .row {
    margin-bottom: 0.5rem;
}

.source-forms .field-wrap textarea.form-control{
    min-height: 50px;
    /*height: calc(1.5em + .5rem + 2px);*/
}